@{
    ViewData["Title"] = "Message Sent Successfully";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Success Section -->
<section class="success-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <!-- Success Icon -->
                <div class="success-icon">
                    <i class="fas fa-check-circle"></i>
                </div>

                <!-- Success Message -->
                <h2>Message Sent Successfully!</h2>
                <p>
                    Thank you for contacting us. We have received your message and will get back to you as soon as possible.
                </p>

                <!-- Back to Home Button -->
                <a href="/" class="btn-back">Back to Home</a>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script>
        setTimeout(function () {
            window.location.href = '@Url.Action("Index", "Home")';
        }, 5000); 
    </script>

}