@model List<PluginViewModel>
@{
	ViewData["Title"] = "Index";
}
<h2>Plugins</h2>

@foreach (var plugin in Model)
{
		<div class="card" style="width:300px">
		@* <img class="card-img-top" src="/Images/@Model.ImageURL" alt="Card image"> *@
			<div class="card-body">
					<h4 class="card-title">@plugin.Title</h4>
						<p class="card-text">Price = @plugin.Price</p>
			@* Handle This *@
					<a asp-controller="Plugin" asp-action="Details" asp-route-id="@plugin.Id" class="btn btn-success">View Details</a>
			</div>
		</div>
}